
body {
    background-color: rgb(236, 183, 236);
  }

    p.a {
        font-family: "Times New Roman, Times, serif";
      }
      
      p.b {
        font-family: "Arial, Helvetica, sans-serif";
      }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }